.hero-container {
    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255) !important;
    height: 12em;
    width: 100%;

}

.hero-items-container {
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
}

.hero-heading {
    height: 2rem;
    padding: 14px;
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;
    color: white;
    line-height: 30px;
    ;
}



@media screen and (max-width: 768px) {
    .hero-items-container {
        display: none;
    }
}