.table-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.table-container-item {
    background-color: white;
    border-radius: 4px;
    color: black;
    /* width: 80%;
    margin-left: auto;
    margin-right: auto; */
    box-shadow: 5px 5px 5px 5px rgba(135, 135, 135, 0.3);
    position: relative;
    overflow: auto;
    top: -7em;
    padding: 10px;
}

.color-red {
    color: rgb(250, 14, 14);
}

table,
td,
th {
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: black;
    font-size: small;
}

th {
    color: rgba(135, 135, 135, 1);
    font-size: small;
    font-weight: lighter;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.coin-image {
    display: flex;
    align-items: center;
    gap: 10px;
}

.coin-image img {
    width: 30px;
    height: 30px;
}

.coin-description {
    display: flex;
    text-align: left;
    flex-direction: column;
}

th,
td {
    padding: 15px;
}

.loading {
    display: block;
    align-items: center;
}

.coin-description span {
    color: #c8c8c8;
    font-size: small;
}

@media screen and (max-width: 768px) {
    .table-container {
        width: 100%;
    }

    .hide-in-mobile {
        display: none;
    }
}