.table-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.table-container-item {
    background-color: white;
    border-radius: 4px;
    color: black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px 5px rgba(135, 135, 135, 0.3);
    position: relative;
    top: -7em;
    overflow-x: hidden;
    padding: 10px;
}

table,
td,
th {
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}